<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>pick now</title>
</head>
<body class="font-[Poppins] h-screen w-screen bg-slate-400 ">
    <header class="bg-slate-950 pl-16 w-full h-12 flex flex-row gap-10">
        <nav class="flex flex-row items-center list-none h-full ">
            <li class="h-full hover:text-2xl hover:pt-1 hover:px-9 hover:bg-slate-700 duration-200 pt-3 px-10  ease-in-out hover:border-b-4 hover:border-teal-300">
                <a class=" text-white text-xl font-black ease-in-out duration-200" href="#">Main Menu</a>
            </li>
            <li class="h-full hover:text-lg hover:pt-2 hover:px-9 hover:bg-slate-700 duration-200 pt-3 px-10  ease-in-out hover:border-b-4 hover:border-teal-300">
                <a class="text-white font-bold ease-in-out h-full duration-200" href="#">Products</a>
            </li>
            <li class="h-full hover:text-lg hover:pt-2 hover:px-9 hover:bg-slate-700 duration-200 pt-3 px-10  ease-in-out hover:border-b-4 hover:border-teal-300">
                <a class="text-white font-bold ease-in-out h-full duration-200" href="#">Solution</a>
            </li>
            <li class="h-full hover:text-lg hover:pt-2 hover:px-9 hover:bg-slate-700 duration-200 pt-3 px-10  ease-in-out hover:border-b-4 hover:border-teal-300">
                <a class="text-white font-bold ease-in-out h-full duration-200" href="#">Resource</a>
            </li>
            <li class="h-full hover:text-lg hover:pt-2 hover:px-9 hover:bg-slate-700 duration-200 pt-3 px-10  ease-in-out hover:border-b-4 hover:border-teal-300">
                <a class="text-white font-bold ease-in-out h-full duration-200" href="#">Developers</a>
            </li>
            <li class="h-full hover:text-lg hover:pt-2 hover:px-9 hover:bg-slate-700 duration-200 pt-3 px-10  ease-in-out hover:border-b-4 hover:border-teal-300">
                <a class="text-white font-bold ease-in-out h-full duration-200" href="#">Pricing</a>
            </li>
        </nav>
    </header>

    <main class="w-full h-full">
        <h1>testing</h1>
        <table>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            
        </table>
    </main>
    





<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>