@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" );

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: 'Lato';
    background-color: #9ccfcf; /*teal = d2f4ea, blue = a7c6f0, slate = 9cb2cf*/
}

*, *::before, *::after {box-sizing: border-box;}

* {
    transition-duration: 300ms; /* Adjust the duration as needed */
  }


.defaultBtn {
    font-size: .8rem;
    padding: .2rem .4rem;
    border-radius: .8rem;
}
.defaultBtn:hover {
    font-size: 1rem;
}

.displayHide {
    display:none;
}

.card-r {
    display: flex;
    flex-direction: row;
    position: fixed;
    right: 1rem;
    margin: .4rem 1rem .2rem 1rem;
}

.navbar {
    width: 100vw;
    height: 4vh;
    background-color: aqua;
    display: flex;
}


.link {
    text-decoration: none;
    color: black;
    margin-top: .2rem;
    font-weight: 700;
}

.divLink{
    padding: .4rem 1rem .2rem 1rem;
    text-transform: capitalize;
    cursor: pointer;
}
.divLink:hover {
    background-color: red;
    font-size: 1.2rem;
}

.searchForm {
    border-radius: .4rem;
    height: 1.6rem;
    width: 15rem;
    padding: .1rem 2rem;
}

.searchForm:placeholder-shown {
    padding: .1rem 2rem;
}